<!DOCTYPE html>
<html>
<head>
    <title th:text="#{admin.dashboard.titre}">UI Admin - Clean and responsive administration panel</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/admin/uikit.min.css}" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" th:href="@{/css/admin/style.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/notyf.min.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="js/uikit.min.js"></script>
    <script th:src="@{/js/admin/uikit-icons.min.js}"></script>
</head>
<body>

<div th:replace="~{fragments/admin/header :: header-admin}"></div>

<div class="uk-section-small">
    <div class="uk-container uk-container-large">
        <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-4@xl uk-grid-large" uk-grid>

            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                    <h3 class="uk-card-title" th:text="#{admin.dashboard.utilisateurs.titre}">Utilisateurs</h3>
                    <p th:text="#{admin.dashboard.utilisateurs.desc}">Gestion des utilisateurs</p>
                    <a th:href="@{utilisateurs}" class="uk-button uk-button-primary" th:text="#{admin.dashboard.utilisateurs.bouton}">Voir les utilisateurs</a>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                    <h3 class="uk-card-title" th:text="#{admin.dashboard.categories.titre}">Catégories</h3>
                    <p th:text="#{admin.dashboard.categories.desc}">Gestion des catégories</p>
                    <a th:href="@{categories/list}" class="uk-button uk-button-secondary" th:text="#{admin.dashboard.categories.bouton}">Voir les catégories</a>
                </div>
            </div>

            <!-- Tu peux ajouter d'autres cards ici de la même façon -->

        </div>
    </div>
</div>

<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js"></script>
<script src="js/notyf.min.js"></script>
<script src="js/script.js"></script>
<script src="js/status.js"></script>
<script src="js/charts.js"></script>
<script src="js/notification.js"></script>

</body>
</html>
