<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Fragment du header adaptatif -->
<header th:fragment="header" class="uk-text-center">
    <h1 class="uk-margin-remove-bottom">ENI-Enchères</h1>

    <!-- Menu pour utilisateur connecté -->
    <div class="uk-margin-small-top user-menu" th:if="${session.utilisateur != null}">
        <div class="uk-flex uk-flex-center uk-flex-middle">
                <span class="uk-margin-small-right">
                    <i class="uk-icon-user"></i> Bonjour, <span th:text="${session.utilisateur.pseudo}">Utilisateur</span>
                </span>
            <div class="uk-button-group">
                <a th:href="@{/encheres/mes-encheres}" class="uk-button uk-button-small uk-button-default">Mes enchères</a>
                <a th:href="@{/encheres/vendre}" class="uk-button uk-button-small uk-button-default">Vendre un article</a>
                <a th:href="@{/profil}" class="uk-button uk-button-small uk-button-default">Mon profil</a>
                <a th:href="@{/logout}" class="uk-button uk-button-small uk-button-danger">Déconnexion</a>
            </div>
        </div>
    </div>

    <!-- Liens pour utilisateur non connecté -->
    <div class="uk-margin-small-top login-links" th:unless="${session.utilisateur != null}">
        <a th:href="@{/inscription}" class="uk-button uk-button-small uk-button-default">S'inscrire</a>
        <a th:href="@{/login}" class="uk-button uk-button-small uk-button-primary">Se connecter</a>
    </div>
</header>

</body>
</html>