<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENI-Enchères</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/uikit/css/uikit.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
<div class="app-container">

    <!-- Header -->
    <header class="uk-text-center">
        <h1>ENI-Enchères</h1>
        <h2 class="user-win-message">Vous avez remporté l'enchère</h2>
    </header>

    <!-- Contenu principal -->
    <main>
        <h3 class="article-title" th:text="${article.nomArticle}"> titre article</h3>

        <!-- Image de l'article -->
        <div class="photo-container">
            <div class="photo-x"></div>
        </div>

        <!-- Détails de l'enchère -->
        <div class="auction-details">
            <div class="auction-info-row">
                <div class="auction-info-label" >Meilleure offre :</div>
                <div class="auction-info-value" th:text="${enchere.montant_enchere}">nombre pts</div>
            </div>

            <div class="auction-info-row">
                <div class="auction-info-label">Mise à prix</div>
                <div class="auction-info-value" th:text="${article.miseAPrix}">nombre points</div>
            </div>
        </div>

        <!-- Informations de retrait -->
        <div class="retrait-box">
            <div class="retrait-header">Retrait</div>
            <div class="retrait-content">
                <p class="retrait-address" th:text="${article.lieuRetrait.rue}">Rue</p>
                <p th:text="${article.lieuRetrait.codePostal}"> Code postal</p>
                <p th:text="${article.lieuRetrait.ville}">Ville</p>

                <div class="seller-info">
                    <div class="auction-info-row">
                        <div class="auction-info-label">Vendeur :</div>
                        <div class="auction-info-value" th:text="${vendeur.pseudo}">>jojo44</div>
                    </div>

                    <div class="auction-info-row">
                        <div class="auction-info-label">Tel :</div>
                        <div class="auction-info-value" th:text="${vendeur.telephone}">06060606</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bouton d'action -->
        <form th:action="@{'/articles/' + ${article.noArticle} + '/retrait-effectue'}" method="post">
            <button type="submit" class="eni-button">Retrait effectué</button>
        </form>
    </main>
</div>
</body>
</html>