<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title th:text="#{mdpoublie.titre}">Mot de passe oublié</title>
    <link rel="stylesheet" href="/uikit/uikit.min.css">
</head>
<body>
<div class="uk-container uk-margin-large-top uk-width-1-2@m">
    <h2 th:text="#{mdpoublie.titre}">Mot de passe oublié</h2>

    <form action="/mot-de-passe-oublie" method="post" class="uk-form-stacked">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div class="uk-margin">
            <label class="uk-form-label" th:text="#{mdpoublie.email.label}">Adresse email</label>
            <input class="uk-input" type="email" name="email" required>
        </div>

        <button class="uk-button uk-button-primary" th:text="#{mdpoublie.bouton.envoyer}">Envoyer le lien</button>
    </form>
</div>
</body>
</html>
